<div class="ms-card-grid">

    <div id="phtocard1">
      <div class="ms-card-inside">
        <div class="ms-card-front"><div class="ms-card-front-bg" style="background-image:url('https://kpoptime.com.au/cdn/shop/products/nwjnsomgmusickoreadanielle.jpg?v=1692335127&width=100');"></div><div class="ms-tarot-gradient"><div class="ms-tarot-border"><div class="ms-tarot-title"></div></div></div></div>
        <div class="ms-card-back"><div class="ms-tarot-border">
          <div class="ms-tarot-info"> 
            NewJeans <br> 
            Danielle <br>
            OMG <br>
            Music Korea Pre-Order Glitter Photocard <br>
           
          </div>
        </div>
        </div>
      </div>
    </div>
    
    <div id="phtocard2">
      <div class="ms-card-inside">
        <div class="ms-card-front"><div class="ms-card-front-bg" style="background-image:url('https://kpoptime.com.au/cdn/shop/files/Screenshot2024-10-24174302.png?v=1729752551&width=100');"></div><div class="ms-tarot-gradient"><div class="ms-tarot-border"><div class="ms-tarot-title"></div></div></div></div>
        <div class="ms-card-back"><div class="ms-tarot-border">
          <div class="ms-tarot-info"> 
            ITZY <br> 
            Yeji <br>
            GOLD <br>
            MusicKorea Pre-Order Benefit Photocards 
          </div>
        </div>
        </div>
      </div>
    </div>
      
    <div id="phtocard3">
      <div class="ms-card-inside">
        <div class="ms-card-front"><div class="ms-card-front-bg" style="background-image:url('https://kpoptime.com.au/cdn/shop/files/nct_nctzone_pob_jisung.jpg?v=1705542597&width=100');"></div><div class="ms-tarot-gradient"><div class="ms-tarot-border"><div class="ms-tarot-title"></div></div></div></div>
        <div class="ms-card-back"><div class="ms-tarot-border">
          <div class="ms-tarot-info"> 
            NCT DREAM <br> 
            Jisung <br>
            NCT ZONE OST Pre-Order Benefit 
          </div>
        </div>
        </div>
      </div>
    </div>