<!DOCTYPE html>
<html lang="en">
	<HEAD>
	<!-- 頁籤標題 -->
	<TITLE>vivi留言</TITLE>
	<!-- 引用css/style設計 -->
	<link rel="stylesheet" href="../static/css/generic.css" />
	<style>
	p {
	color: red;
	}
	</style>
	</HEAD>
	<BODY align="center">
	    <nav class="navbar">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/cardDashboard">虛擬收藏冊</a></li>
				<li><a href="/shop">交流及周邊交易區</a></li>
				<li><a href="/elements">小卡圖鑑</a></li>
				<li><a href="/wishList">願望清單</a></li>
			</ul>
		</nav>
		<br>
	<!-- 輸入框 先宣告submit不回傳 再定義各個欄位form內容 -->
	<form action="" method="post" onsubmit="return false;">
	<input type="text" id="title" name="title" value="" placeholder="請輸入標題" class="BG-Copy" size="80" />
	<br>
	<TEXTAREA name="contect" id="contect" ROWS="8" COLS="80" placeholder="想說什麼都可以" class="BG-Copy"></TEXTAREA>
	<br>
	<form action="/upload" method="post" enctype="multipart/form-data">
	  <!-- 上傳按鈕 -->
	  <!--<label for="fileInput"></label>-->
	  <input type="file" id="fileInput" name="image" accept="image/*">
	  <!-- 提交按鈕 -->
	  <button type="upload">上傳</button>
	</form>
	<!-- 定義送出鍵的動作，使用JavaScript的function-->
	<INPUT TYPE="submit" VALUE="送出" class="Base" style='text-align:"right"' onclick='processFormData();addMsg()'>
	</form>
	
	<!-- 分隔線hr -->
	<hr>
		  <div class="comments-container">
			<h1>交流及周邊交易區</h1>
	
			<ul id="comments-list" class="comments-list">
				<li>
					<div class="comment-main-level">
						<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">HOST</a></h6>
								<!--<span>hace 20 minutos</span>-->
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Welcome!
							</div>
						</div>
					</div>
				</li>
			</ul> 
		</div>
		<script src="../static/js/generic.js"></script>
	</BODY>

</html>
<script>
    // 獲取當前頁面的 URL 路徑
    const currentPath = window.location.pathname;

    // 遍歷所有的導航鏈接
    document.querySelectorAll('.navbar .links a').forEach(link => {
        // 如果鏈接的 href 與當前路徑匹配，添加 active 類
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        }
    });
</script>
    